
<div class="container">
<h1>Sign in</h1>

<form action="/sessions/" method="POST">

Email:
<input type="text" name="user[email]"><br>

Password:
<input type="password" name="user[password]"><br>

<br><br>
<input type="submit" name="Log in">

</form>

</div>
