
<h1>Register account</h1>

<form action="/users" method="POST">

<label>First name:</label>
<input type="text" name="user[first_name]"><br>

<label>Last name:</label>
<input type="text" name="user[last_name]"><br>

<label>Email:</label>
<input type="text" name="user[email]"><br>

<label>Password:</label>
<input type="password" name="user[password]"><br>

<br><br>
<input type="submit" name="Submit">

</form>

