<h2>User profile</h2>

<p>Welcome, <%= current_user.first_name %>!</p>

<ul id="cat-list">

<%@user_orders.each do |order|%>
   
    <p><li><%= order.cat.name %> <yield><%= erb :'/cats/_return_form', locals: {order: order} %></yield></li></p>
  
  <% end %>
</ul>

<p><a href="/cats">See available cats</a></p>