<h1>User profile</h1>

<p>Welcome, <%= @user.first_name %>!</p>

<ul>
<%@user_orders.each do |order|%>
  <p><li><%= order.cat.name %></li></p>
<%end%>
</ul>

<p><a href="/cats">See available cats</a></p>