<h1>Every cat</h1>

<ul>
<%@cats.each do |cat|%>
  <p><a href="/cats/<%= cat.id %>"><li><%= cat.name %></li></a><br>
<%= cat.breed %>, <%= cat.age %> years old
  </p>
<%end%>
</ul>

<p><a href="/cats/new">Add new cat</a></p>