<h1>Cat profile</h1>

<p><label>Name: </label><%= @cat.name %></p>
<p><label>Breed: </label><%= @cat.breed %></p>
<p><label>Age: </label><%= @cat.age %></p>

  <yield>
  <%= erb :'/cats/_rental_form' %>
  </yield>

<p><a href="/cats">See available cats</a></p>

