<h1>Welcome to rentamitten!</h1>
<p>For all your temporary cat needs!</p>


<a href="/users/new">Create new user</a><br>
<a href="/sessions/new">Log in</a><br>

<form action="/sessions" method="POST">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="Log out">
</form>

