<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>

<header>
  <% if current_user %>
    <p><a href="/cats">See available cats</a></p>
    <form action="/sessions/<%= session.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Log out">
    </form>
  <% else %>
    <p><a href="/users/new">Create new user</a></p>
    <p><a href="/sessions/new">Log in</a></p>
  <% end %>
</header>

<div class="container">
  <%= yield %>
  </div>
</body>
</html>
